//컴파일 안되는 주석
/*컴파일 되는 주석*/ 
@use './vars';
//전역변수
$red: red;
.box {
  width: 100px;
  height: 100px; 
  border: 1px solid blue;
  background-color: vars.$color-primary; 
}
.box + .box { 
  $spacere10px: vars.$spacer * 2;// 지역변수
  margin-top: $spacere10px; 
}